<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>На следующей странице картинка</title>
    <style>
      body {
        background: #dfdfdf;
        text-align: center;
        padding: 50px;
      }
      a {
        color: #5895c8;
        font-size: 18px;
        margin: 0 10px;
        text-decoration: none;
      }
      img {
        border-radius: 30px;
        margin: 20px 0;
        max-width: 100%;
      }
      button {
        border-radius: 15px;
        border-width: 0;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    <h1>Лабораторная работа №9</h1>
    <h3>Сиверухин Михаил ИСТбд-22</h3>
    <img src="/img/FW.jpg" />
    <p>
      <button>
        <h4>
          <a href="/resume/">Посмотреть картинку</a>
        </h4>
      </button>
    </p>
  </body>
</html>
